<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <p style="color: red">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <p>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, tabindex: 0 %>
  </p>

  <p>
    <div>
      <%= form.label :content, style: "display: block" %>
      <%= form.text_area :content, style: "display: none", id: 'editor-state' %>
      <div id="editor"/>
    </div>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
