<p>By <%= "tag".pluralize @nested_tag_names.size %>:
  <% @nested_tag_names.each do |n| %>
    <% if @nested_tag_names.size == 1 %>
      <kbd class="remove_tag"><%= link_to n, shares_path(user: @share_user.username) %></kbd>
    <% else %>
      <kbd class="remove_tag"><%= link_to n, shares_by_tag_path(user: @share_user.username,  names: @nested_tag_names - [n]) %></kbd>
    <% end %>
  <% end %>
  <%= @possible_tag_names.map{|n| "<kbd class='add_tag' >#{link_to n, shares_by_tag_path(user: @share_user.username, names: [*@nested_tag_names, n])}</kbd>"}.join().html_safe %>
</p>

<%= render "notes", notes: @notes %>
