<nav>
  <ul>
    <li><%= link_to "~#{@note.user.username}'s public notes", shares_path(user: @note.user.username) %></li>
  </ul>
</nav>

<%= turbo_stream_from @note %>

<div id="<%= dom_id @note %>">
  <p>
    <h1><%= @note.title %></h1>
  </p>

  <p>Updated: <%= time_tag @note.updated_at, "data-local": "time-ago" %></p>

  <article>
    <%= @note.to_share_html %>
  </article>

</div>
