<div id="<%= dom_id folder %>">
  <h4><%= folder.name %></h4>

  <% folder.files.each do |file| %>
    <div class="user_file">
      <% if file.representable? %>
        <div><%= image_tag file.representation(resize_to_limit: [100, 100]), data: { title: file.filename } %></div>
        <div>
          <div><%= file.filename %></div>
          <div><%= link_to "Download", rails_blob_path(file, disposition: "attachment") %></div>
        </div>
      <% else %>
        <div class="content_container">
          <span style="position: absolute;">
            <%= image_tag "/apple-touch-icon.png", width: '80px', height: '80px', alt: "Download file" %>
            <span class="content_type">.<%= file.filename.extension %></span>
          </span>
        </div>
        <div>
          <div><%= file.filename %></div>
          <div><%= link_to "Download", rails_blob_path(file, disposition: "attachment") %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
